.conda
AWS-DataLake/data/dados_2015.csv
AWS-DataLake/data/dados_2016.csv
AWS-DataLake/data/dados_2017.csv
AWS-DataLake/data/dados_2018.csv
AWS-DataLake/data/dados_2019.csv
AWS-DataLake/data/dados_2020.csv
