Bulltrend/Finance.py
Bulltrend/http_cache.sqlite
Bulltrend/indicadores.csv
Bulltrend/Projeto+Inicial+-+Extração+das+cotações+e+indicadores.ipynb
Bulltrend/ProjetoFincances.pbix
Bulltrend/readme.md
Bulltrend/requirements.txt
